.titolo{color:white; background-image: url("/imgportfolio/educazione-civica.png");}
p > span{color:white;}
h1{color: white;  font-family: Merriweather; text-align: center;}

.foglintro{background-image: url("/imgportfolio/intro.png")}
.intro{font-family: Merriweather; font-size: 26px;}

.conferenza{color: white;  font-family: Merriweather; text-align: center; font-size: 12px;}
